body {
    font-family: Arial, sans-serif;
    background-image: url('temperature.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.converter {
    margin-bottom: 20px;
}

.converter input,
.converter select,
.converter button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.3s;
}

.converter button {
    background-color: #FF5722;
    color: white;
    cursor: pointer;
    border: none;
}

.converter button:hover {
    transform: scale(1.1);
    background-color: #E64A19;
}

.result {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    animation: slideIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
